
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTaskLogLabel" translate="jprojectApp.taskLog.home.createOrEditLabel">Create or edit a TaskLog</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="taskLog.id" readonly>
        </div>
        <div class="form-group">
            <label translate="jprojectApp.taskLog.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                    ng-model="taskLog.message"
                    required>
            <div ng-show="editForm.message.$invalid">
                <p class="help-block"
                    ng-show="editForm.message.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="jprojectApp.taskLog.createdOn" for="field_createdOn">CreatedOn</label>
            <input type="datetime-local" class="form-control" name="createdOn" id="field_createdOn"
                    ng-model="taskLog.createdOn" ng-model-options="{timezone: 'UTC'}"
                    required>
            <div ng-show="editForm.createdOn.$invalid">
                <p class="help-block"
                    ng-show="editForm.createdOn.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createdOn.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="jprojectApp.taskLog.task" for="field_task">task</label>
            <select class="form-control" id="field_task" name="task" ng-model="taskLog.task" ng-options="task as task.id for task in tasks track by task.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
