<div class="modal fade" id="deleteIterationConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteForm" ng-submit="confirmDelete()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="jprojectApp.iteration.delete.question" translate-values="{id: '{{iteration.id}}'}">Are you sure you want to delete this Iteration?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                        <span translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="page-header">
    <div class="pull-right">
        <br/>
        <div class="btn-group btn-group-xs">
            <button type="submit" ui-sref="iteration.edit({projectId:iteration.project.id, id:iteration.id})"
                    class="btn btn-default btn-xs">
                <i class="fa fa-pencil fa-fw"></i>&nbsp;<span translate="entity.action.edit"></span>
            </button>
            <button type="submit" ng-click="delete()"
                    class="btn btn-default btn-xs">
                <i class="fa fa-ban fa-fw"></i>&nbsp;<span translate="entity.action.delete"></span>
            </button>
        </div>
    </div>
    <h2 class="page-title">
        <a ui-sref="project.detail({id:iteration.project.id})"><i class="fa fa-rocket fa-lg"></i></a>&nbsp;{{iteration.project.code}}&nbsp;<small>{{iteration.title}}</small>
    </h2>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ui-sref-active-eq="active">
                <a ui-sref="iteration.detail" aria-controls="home" role="tab">{{'jprojectApp.iteration.tab.home' | translate}}</a>
            </li>
            <li role="presentation" ui-sref-active="active">
                <a ui-sref="iteration.tasks" aria-controls="tasks" role="tab">{{'jprojectApp.iteration.tab.task' | translate}}</a>
            </li>
            <li role="presentation" ui-sref-active="active">
                <a ui-sref="iteration.teams" aria-controls="teams" role="tab">{{'jprojectApp.iteration.tab.team' | translate}}</a>
            </li>
        </ul>
        <div class="tab-content" ui-view="tab-content"></div>
    </div>
</div>

